@mixin trans-duration($time) {
    -webkit-transition-duration: $time;
    transition-duration: $time;
}

@mixin transition($value) {
    -webkit-transition: $value;
    transition: $value;
}

@mixin transform($value) {
    -webkit-transform: $value;
    transform: $value;
}

@mixin animation($value) {
    -webkit-animation: $value;
    animation: $value;
}

@mixin flex-direction($value) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

@mixin align-items($value) {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
    -ms-grid-row-align: $value;
    align-items: $value;
}

@mixin display-flex($value) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: $value;
}

@mixin justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin justify-content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin flex($value) {
    -webkit-box-flex: 0;
    -ms-flex: $value;
    flex: $value;
}

@mixin flex-wrap($value) {
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content } // 600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }  // 900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content } // 1200px
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 87.5em) { @content } // 1400px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content } // 1800+px
  }
  @if $breakpoint == hdtv {
    @media only screen and (min-width: 75em) and (max-height: 50em) { @content }
    // at least 1200px wide and 800px tall
  }
  @if $breakpoint == phone-land {
    @media only screen and (max-width: 46.875em) and (max-height: 31.25em) { @content }
    // smaller than 750px wide and 500px tall
  }
  @if $breakpoint == phone-land-sm {
    @media only screen and (max-width: 56.25em) and (max-height: 23.4375em) { @content }
    // smaller than 900px wide and 375px tall
  }
}