<!-- ##### About Me Area Start ##### -->
<section class="about-me-area section-padding-100 clearfix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-me-text wow fadeInUp" data-wow-delay="300ms">
                    <h2>Creative &amp; Commited</h2>
                    <h6>I enjoy creating simple, yet stunning websites</h6>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="about-me-text wow fadeInUp" data-wow-delay="500ms">
                    <p>I am a Denver-based full-stack web developer with 4+ years of experience creating professional websites. I am a life-long learner with a problem-solving mindset. I am looking forward to the opportunity of working together!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Me Area End ##### -->

<section class="skills-area clearfix">
    <div class="container">
        <div class="row">

            <!-- Single Skills Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <div id="circle" class="circle" data-value="1.0">
                        <span>100%</span>
                    </div>
                    <div class="skills-text">
                        <h6>Responsive</h6>
                        <p>I design and develop with pixel-perfect precision to ensure your website can be viewed by anyone, at anytime, on any device.</p>
                    </div>
                </div>
            </div>

            <!-- Single Skills Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <div id="circle2" class="circle" data-value="1.0">
                        <span>100%</span>
                    </div>
                    <div class="skills-text">
                        <h6>Committed to You</h6>
                        <p>My work is not complete until you are completely satisfied.</p>
                    </div>
                </div>
            </div>

            <!-- Single Skills Area -->
            <div class="col-12 col-sm-6 col-lg-4 mx-auto my-0">
                <div class="single-skils-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <div id="circle3" class="circle" data-value="1.0">
                        <span>100%</span>
                    </div>
                    <div class="skills-text">
                        <h6>Guaranteed</h6>
                        <p>I offer a free 30-day Bug Free Guarantee so you can launch your website with confidence.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
