<!-- ##### Hero Area Start ##### -->
<div class="hero-area bg-img clearfix" style="background-image: url(img/bg-img/good2mod2.jpg);" id="about">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-sm-10 col-md-8">
                <!-- Hero Content -->
                <div class="hero-content">
                    <h5 class="wow fadeInUp" data-wow-delay="100ms">Hello I’m</h5>
                    <h2 class="wow fadeInUp" data-wow-delay="300ms">Kyle Weidner</h2>
                    <h3 class="wow fadeInUp" data-wow-delay="500ms">Web Designer &amp; Developer</h3>
                    <!-- Contact Info -->
                    <div class="mt-30 wow fadeInUp" data-wow-delay="700ms">
                        <!-- Contact Button -->
                        <a href="#contact" id="freelance-btn" class="btn vcard-btn contact-btn">Available for freelance work</a>
                    </div>
                    <!-- Social Info -->
                    <div class="social-info mt-30 wow fadeInUp" data-wow-delay="900ms">
                        <a href="https://github.com/kweidner14" data-toggle="tooltip" data-placement="top" title="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/kyle.webdev/" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/kyle-weidner-792720177/" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                        <a href="https://codemodeio.slack.com" data-toggle="tooltip" data-placement="top" title="Slack"><i class="fab fa-slack" aria-hidden="true"></i></a>
                        <a href="https://dribbble.com/codemode" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                        <a href="https://angel.co/u/kyle-weidner" data-toggle="tooltip" data-placement="top" title="AngelList"><i class="fab fa-angellist" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Hero Area End ##### -->