<section class="portfolio-area section-padding-100 clearfix" id="portfolio">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <div class="heading-icon"><i class="fas fa-camera-retro"></i></div>
                    <h2>My Portfolio Showcase</h2>
                </div>
            </div>

            <div class="col-12">
                <div class="vcard-projects-menu wow fadeInUp" data-wow-delay="500ms">
                    <div class="text-center portfolio-menu">
                        <button class="btn active" data-filter="*">All Projects</button>
                        <button class="btn" data-filter=".front">Front-End</button>
                        <button class="btn" data-filter=".personal">Personal Projects</button>
                        <button class="btn" data-filter=".client">Client Projects</button>
                        <button class="btn" data-filter=".back">Back-End</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row vcard-portfolio">

            <!--Large Single gallery Item-->
            <div class="col-12 col-sm-6 col-lg-3 single-portfolio-area front back client wow fadeInUp" data-wow-delay="100ms">
                <a href="#popup"><img src="img/bg-img/empresscard.jpeg" alt=""></a>
                <!-- Content -->
                <div class="portfolio-content">
                    <a href="#popup"><h5>Sunstone Healing & Wellness</h5></a>
                    <p>Client Project</p>
                    <!--  Zoom View-->
                    <div class="vcard-img-zoom">
                        <a href="#popup"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Small Single gallery Item-->
            <div class="col-12 col-sm-6 col-lg-3 single-portfolio-area front back personal wow fadeInUp" data-wow-delay="300ms">
                <a href="#popup2"><img src="img/bg-img/prevPortfolio.png" alt=""></a>
                <!-- Content -->
                <div class="portfolio-content">
                    <a href="#popup2"><h5>Resume Portfolio</h5></a>
                    <p>Personal Project</p>
                    <!--  Zoom View-->
                    <div class="vcard-img-zoom">
                        <a href="#popup2"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Large Single gallery Item-->
            <div class="col-12 col-sm-6 col-lg-3 single-portfolio-area back personal wow fadeInUp" data-wow-delay="500ms">
                <a href="#popup3"><img src="img/bg-img/sushimin.jpg" alt=""></a>
                <!-- Content -->
                <div class="portfolio-content">
                    <a href="#popup3"><h5>Restaurant Prototype</h5></a>
                    <p>Personal Project</p>
                    <!--  Zoom View-->
                    <div class="vcard-img-zoom">
                        <a href="#popup3"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Small Single gallery Item-->
            <div class="col-12 col-sm-6 col-lg-3 single-portfolio-area front back personal wow fadeInUp" data-wow-delay="700ms">
                <a href="#popup4"><img src="img/bg-img/bandshow2.jpg" alt=""></a>
                <!-- Content -->
                <div class="portfolio-content">
                    <a href="#popup4"><h5>Band / Artist Prototype</h5></a>
                    <p>Personal Project</p>
                    <!--  Zoom View-->
                    <div class="vcard-img-zoom">
                        <a href="#popup4"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>


            <!-- Large Single gallery Item-->
            <div class="col-12 col-sm-6 col-lg-3 single-portfolio-area large-row-2 front back client wow fadeInUp" data-wow-delay="1100ms">
                <a href="#popup5"><img src="img/bg-img/love-blue-bonnets.jpg" alt=""></a>
                <!-- Content -->
                <div class="portfolio-content">
                    <a href="#popup5"><h5>Grey Feather Band</h5></a>
                    <p>Client Project</p>
                    <!--  Zoom View-->
                    <div class="vcard-img-zoom">
                        <a href="#popup5"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>



            <!--Large Single gallery Item-->
            <div class="col-12 col-sm-6 col-lg-3 single-portfolio-area large-row-2 front back client wow fadeInUp" data-wow-delay="1500ms">
                <a href="#popup6"><img src="img/bg-img/author.jpg" alt=""></a>
                <!-- Content -->
                <div class="portfolio-content">
                    <a href="#popup6"><h5>Jennifer Byrne Talks</h5></a>
                    <p>Client Project</p>
                    <!--  Zoom View-->
                    <div class="vcard-img-zoom">
                        <a href="#popup6"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Small Single gallery Item-->
            <div class="col-12 col-sm-6 col-lg-3 single-portfolio-area front back client wow fadeInUp" data-wow-delay="900ms">
                <a href="#popup7"><img src="img/bg-img/hottubs.jpg" alt=""></a>
                <!-- Content -->
                <div class="portfolio-content">
                    <a href="#popup7"><h5>Tauranga Hot Tub Hire</h5></a>
                    <p>Client Project</p>
                    <!--  Zoom View-->
                    <div class="vcard-img-zoom">
                        <a href="#popup7"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!-- Small Single gallery Item-->
            <div class="col-12 col-sm-6 col-lg-3 single-portfolio-area front back client wow fadeInUp" data-wow-delay="1300ms">
                <a href="#popup8"><img src="img/bg-img/pyt-logo.jpg" alt=""></a>
                <!-- Content -->
                <div class="portfolio-content">
                    <a href="#popup8"><h5>Pure Yoga Therapy</h5></a>
                    <p>Client Project</p>
                    <!--  Zoom View-->
                    <div class="vcard-img-zoom">
                        <a href="#popup8"><i class="fas fa-external-link-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>







        <!-- See More Button -->
        <div class="row">
            <div class="col-12">
                <div class="see-more mt-70 text-center wow fadeInUp" data-wow-delay="700ms">
                    <a href="https://github.com/kweidner14" class="btn vcard-btn">GitHub Repositories</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/bg-img/sunstone2.png" alt="Card photo" class="popup__img">
            <img src="img/bg-img/sunstone3.png" alt="Card photo" class="popup__img--2">

        </div>
        <div class="popup__right">
            <a href="#portfolio" class="popup__close">&times;</a>
            <h1>Sunstone Healing & Wellness</h1>
            <h5>Client Project</h5>
            <p class="popup__text">
                Custom built, fully mobile responsive website using HTML, CSS, JavaScript, MongoDB, Stripe, Acuity, Node.js, Nodemailer, Cloudinary, Git, Heroku, etc...
                <br><br><br>
                I built this website for a client to allow the client to create and manage blog posts for her customers to see. Customers are able to schedule, book and pay for an appointment from the site.
            </p>
            <div class="portfolio-btn">
                <a href="https://www.sunstoneintuitivehealing.com" class="btn vcard-btn">Visit Website</a>
            </div>
        </div>
    </div>
    <a href="#section-tours" class="popup__close--outer">&nbsp;</a>
</div>

<div class="popup" id="popup2">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/bg-img/prevPortfolio.png" alt="Card photo" class="popup__img">
            <img src="img/bg-img/prevPortfolio2.png" alt="Card photo" class="popup__img--2">
        </div>
        <div class="popup__right">
            <a href="#portfolio" class="popup__close">&times;</a>
            <h1>Resume Portfolio</h1>
            <h5>Personal Project</h5>
            <p class="popup__text">
                This was my last design for my personal portfolio / resume website. This website allowed clients and potential employers to view my previous work, learn more about me and my skills, and contact me through email or social media.
                <br><br>
                I custom built this website using HTML, CSS, and JavaScript. It uses nodemailer for sending emails, and was hosted on Heroku. This website was hosted on Heroku for over a year before being replaced with the current version.
            </p>
            <div class="portfolio-btn">
                <a href="https://github.com/kweidner14/portfolio" class="btn vcard-btn">GitHub Repo</a>
            </div>
        </div>
    </div>
    <a href="#section-tours" class="popup__close--outer">&nbsp;</a>
</div>

<div class="popup" id="popup3">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/bg-img/rest2.png" alt="Card photo" class="popup__img">
            <img src="img/bg-img/restOrder.png" alt="Card photo" class="popup__img--2">
        </div>
        <div class="popup__right">
            <a href="#portfolio" class="popup__close">&times;</a>
            <h1>Restaurant Mock-Up</h1>
            <h5>Personal Project</h5>
            <p class="popup__text">
                I developed this website to attract a potential client needing a restaurant website.
                <br><br>
                This allows users to view the menu, reserve a table, and order online for pickup or delivery.
            </p>
        </div>
    </div>
    <a href="#section-tours" class="popup__close--outer">&nbsp;</a>
</div>

<div class="popup" id="popup4">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/bg-img/band1min.png" alt="Card photo" class="popup__img">
            <img src="img/bg-img/band2.png" alt="Card photo" class="popup__img--2">
        </div>
        <div class="popup__right">
            <a href="#portfolio" class="popup__close">&times;</a>
            <h1>Resume Portfolio</h1>
            <h5>Personal Project</h5>
            <p class="popup__text">
                I developed this website to attract a potential client needing a website for a band or an individual recording artist.
                <br><br><br>
                Users can contact the band or individual members. Artist's Spotify/iTunes/SoundCloud are linked. Complete with merch page, upcoming events, and booking page.
            </p>
        </div>
    </div>
    <a href="#section-tours" class="popup__close--outer">&nbsp;</a>
</div>

<div class="popup" id="popup5">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/bg-img/band-bio.jpg" alt="Card photo" class="popup__img">
            <img src="img/bg-img/band-live.jpg" alt="Card photo" class="popup__img--2">
        </div>
        <div class="popup__right">
            <a href="#portfolio" class="popup__close">&times;</a>
            <h1>Grey Feather Band</h1>
            <h5>Client Project</h5>
            <p class="popup__text">
                I developed this website for a band needing a website to promote their music, stream live, and sell merchandise.
                <br><br><br>
                Users can contact the band or individual members. Artist's Spotify/iTunes/SoundCloud are linked. Complete with merch page, upcoming events, and booking page.
            </p>
            <div class="portfolio-btn">
                <a href="https://www.greyfeatherband.com" class="btn vcard-btn">Visit Website</a>
            </div>
        </div>
    </div>
    <a href="#section-tours" class="popup__close--outer">&nbsp;</a>
</div>

<div class="popup" id="popup6">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/bg-img/author-1.jpg" alt="Card photo" class="popup__img">
            <img src="img/bg-img/author-2.jpg" alt="Card photo" class="popup__img--2">
        </div>
        <div class="popup__right">
            <a href="#portfolio" class="popup__close">&times;</a>
            <h1>Jennifer Byrne Talks</h1>
            <h5>Client Project</h5>
            <p class="popup__text">
                I developed this website for an author needing to promote her upcoming book.
                <br><br><br>
                Users can view more information about the author, as well as learn more about her upcoming book.
            </p>
            <div class="portfolio-btn">
                <a href="https://www.jenniferbyrnetalks.org" class="btn vcard-btn">Visit Website</a>
            </div>
        </div>
    </div>
    <a href="#section-tours" class="popup__close--outer">&nbsp;</a>
</div>

<div class="popup" id="popup7">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/bg-img/hottubs2.png" alt="Card photo" class="popup__img">
            <img src="img/bg-img/hottubs3.png" alt="Card photo" class="popup__img--2">
        </div>
        <div class="popup__right">
            <a href="#portfolio" class="popup__close">&times;</a>
            <h1>Tauranga Hot Tub Hire</h1>
            <h5>Client Project</h5>
            <p class="popup__text">
                I developed this website for a client needing a website for a hot tub rental company.
                <br><br>
                Users can book rentals and pay through the website. Also has contact functionality.
            </p>
            <div class="portfolio-btn">
                <a href="https://www.taurangahottubs.com" class="btn vcard-btn">Visit Website</a>
            </div>
        </div>
    </div>
    <a href="#section-tours" class="popup__close--outer">&nbsp;</a>
</div>

<div class="popup" id="popup8">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/bg-img/pyt-home.jpg" alt="Card photo" class="popup__img">
            <img src="img/bg-img/pyt-prices.jpg" alt="Card photo" class="popup__img--2">
        </div>
        <div class="popup__right">
            <a href="#portfolio" class="popup__close">&times;</a>
            <h1>Pure Yoga Therapy</h1>
            <h5>Client Project</h5>
            <p class="popup__text">
                I developed this website for a client needing a website for her yoga therapy business.
                <br><br><br>
                Users can book an appointment, pay for sessions, and view class schedules. Also has blog functionality.
            </p>
            <div class="portfolio-btn">
                <a href="https://www.pureyogatherapy.online" class="btn vcard-btn">Visit Website</a>
            </div>
        </div>
    </div>
    <a href="#section-tours" class="popup__close--outer">&nbsp;</a>
</div>

<!-- ##### Portfolio Area End ##### -->