<section class="services-area section-padding-100-0 clearfix" id="skills">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading white text-center wow fadeInUp" data-wow-delay="300ms">
                    <div class="white-heading-icon"><i class="fas fa-robot"></i></div>
                    <h2>Professional Skills</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <div class="icon">
                        <img src="img/core-img/1.png" alt="">
                    </div>
                    <div class="service-title d-flex align-items-end">
                        <h4>Back-End Development</h4>
                    </div>
                    <ul>
                        <li>Node.js</li>
                        <li>MongoDB</li>
                        <li>Express</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                    </ul>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <div class="icon">
                        <img src="img/core-img/2.png" alt="">
                    </div>
                    <div class="service-title d-flex align-items-end">
                        <h4>Front-End Development</h4>
                    </div>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Sass</li>
                        <li>React</li>
                        <li>Bootstrap</li>
                        <li>Bulma</li>
                    </ul>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-sm-6 col-lg-4 mx-auto my-0">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <div class="icon">
                        <img src="img/core-img/3.png" alt="">
                    </div>
                    <div class="service-title d-flex align-items-end">
                        <h4>Web <br> Design</h4>
                    </div>
                    <ul>
                        <li>WordPress</li>
                        <li>Bootstrap Studio</li>
                        <li>Google Web Designer</li>
                        <li>Marvel</li>
                        <li>Divjoy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
