<!-- ##### Testimonials Area Start ##### -->
<section class="testimonials-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading white text-center wow fadeInUp" data-wow-delay="300ms">
                    <div class="white-heading-icon"><i class="far fa-comments"></i></div>
                    <h2>Client’s testimonials</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <!-- Testimonial Slides -->
                <div class="testimonial-slides owl-carousel wow fadeInUp" data-wow-delay="500ms">

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial">
                        <h5>I really love it</h5>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                        <div class="testimonial-author-info mt-50">
                            <img src="img/bg-img/emilymin.jpg" alt="">
                            <h6>Emily Blumenshine, <span>Client</span></h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial">
                        <h5>I would highly recommend Kyle!</h5>
                        <p>Kyle is amazing in what he does, from the start he was so easy to work with and talk to he set up a video call and we discussed what would work best and bring my visions to life. I would highly recommend Kyle!</p>
                        <div class="testimonial-author-info mt-50">
                            <img src="img/bg-img/hottublogo.png" alt="">
                            <h6>Tauranga Hot Tub Hire, <span>Client</span></h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial">
                        <h5>I really love it</h5>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                        <div class="testimonial-author-info mt-50">
                            <img src="img/bg-img/emilymin.jpg" alt="">
                            <h6>Emily Blumenshine, <span>Client</span></h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Area -->
                    <div class="single-testimonial">
                        <h5>This testimonial is coming soon...</h5>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                        <div class="testimonial-author-info mt-50">
                            <img src="img/bg-img/blankavatar.png" alt="">
                            <h6>John Smith, <span>Client</span></h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Testimonials Area End ##### -->