<% include ./partials/header.ejs %>

<div class="hero-area bg-img clearfix" style="background-image: url(img/bg-img/good2mod2.jpg);" id="about">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-sm-10 col-md-8">
                <!-- Hero Content -->
                <div class="hero-content">
                    <h2 class="wow fadeInUp" data-wow-delay="100ms">Thanks for reaching out!</h2>
                    <h3 class="wow fadeInUp" data-wow-delay="300ms">I usually respond within 24 hours!</h3>
                    <!-- Contact Info -->
                    <div class="mt-30 wow fadeInUp" data-wow-delay="700ms">
                        <!-- Contact Button -->
                        <a href="/" id="freelance-btn" class="btn vcard-btn contact-btn">Return to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>